<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/common.css" rel="stylesheet" type="text/css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    {% block title %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand">読書 記録アプリ</span>
        {% block logout_btn %}
        {% endblock %}
    </nav>
    <main class="bd-content py-5 pl-3" role="main">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>