{% extends 'base.html' %}
{% block title %}
<title>ログイン</title>
{% endblock %}
{% block logout_btn %}
{% endblock %}
{% block content %}
<form action="login" method="POST">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% if error %}
                    <p class="error-message">{{error}}</p>
                {% endif %}
                <div class="form-group">
                    <label>ユーザーID</label>
                    <input class="form-control" type="text" placeholder="hoge@hoge.com" name="user_id" value=""/>
                </div>
                <div class="form-group">
                    <label>パスワード</label>
                    <input class="form-control" type="password" name="passwd" value=""/>
                </div>
                <div class="form-group">
                    <input id="submit" type="submit" class="btn btn-primary" value="ログイン"/>
                </div>
            </div>
        </div>
    </div>
</form>
<form style="margin-left: 170px" action="user_add" method="GET">
    <input id="submit" type="submit" class="btn btn-primary" value="サインアップ"/>
</form>
{% endblock %}